*{
   margin: 0;
   padding: 0;
   
}
header{
   width: 100vw;
   display: flex;
   align-items: center;
   background-color: #000;
}
.img-logo{
   width: clamp(10%, 110px, 200px);
   margin: 0 5%;
}

.btn-product{
   width: 20%;
   height: 10%;
   padding: 10px;
   margin: 0 10%;
   font-size: clamp(.8rem, 2vw, 1.1rem);
   
}

.navigation ul{
   display: flex;
   text-decoration: none;
   list-style: none;
   justify-items: end;
   
}
.navigation li{
   margin: 20%;
   margin-top: 10%;
}

.icon-li{
   font-size: clamp(1.5rem, 3vw, 2.2rem);
   color: #fff;
}