*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.title-home{
   font-size: 40px;
   font-weight: 800;
   color: #000;
   background-color:#ff8000 ;
   text-align: center;
}
.p-home{
   width: 95%;
   margin: auto;
   padding: 20px;
   text-align: justify;
   font-size: clamp(1rem, 1.8vw, 2rem);
   text-indent: 20px;
}
.container-about-us{
   text-align: center;
   
}
.fixed{
   display: flex;
   position: fixed;
   width: 35%;
   padding: 15px 20px;
   height: 5%;
   bottom: 20px;
   right: 20px;
   justify-content: center;
   align-items: center;
   font-size: clamp(1rem, 1.8vw, 2rem);
   box-shadow: 2px 2px 5px #000;
}
.lgfusion{
   width: 250px;
   
}
.logo_fusion{
   width: 350px; 
   border-radius: 20px;
   box-shadow: 2px 2px 5px #000;
}

.img-food{
   width: 25%;
   margin: 10px;
   border-radius: 10px;
   box-shadow: 3px 3px 10px #000;
}
.title-2{
   color:#ff8000;
}