.title-car{
   font-size: clamp(2rem, 4vw, 3rem);
   color: #ffffff;
   background:  #010138 78%;
   text-align: center;
   font-family: 'Kavoon', cursive;
   font-weight: 300;
   text-shadow: 7px 0px 15px rgb(116, 250, 255);
}
h3,h5{
   color: rgb(194, 191, 191);
}
.cars-shopping{
 width:100%;

}
.car-shopping{
  width: 97%;
  margin: auto;
 
}
.carshopping_center{
   width: 100%;
   margin: 10px auto;
   padding: 3px;
   
}
.carshopping_item{
   display: grid;
   grid-template-columns: 1fr 2fr 1fr .5fr;
   margin: 1rem auto;
   box-shadow: 0 1px 10px #60eef8;
   padding: 10px;
   border-radius: 10px;
   align-items: center;
   background:  #ffffff 78%;
}
.carshopping_item img{
   width:8rem ;
   margin-right: 5px;
}
.carshopping_item h3{
   margin-top: .7rem;
   font-family: 'Dosis';
   font-size: 1.5rem;
   font-weight: 600;
}

.carshopping_item .price{
   color: #00ff15;
   font-weight: 600;
   font-size: 1.5rem;
   text-align: center;
}
.carshopping_item .ico{
   color: #003cff;
   width: 30px;
   height: 30px;
   cursor: pointer;
   border: none;
   padding: 2px;
   
}
.carshopping_item button{
   border: none;
   background-color: #fff;
}
.n-items-select{
   display: flex;
   justify-content: center;
}
.carshopping_item .n-items{
   margin: 5px;
   font-size: 1.1rem;
   font-weight: bold;
}
.carshopping_item .remove_item .ico{
   width: 60px;
   height: 35px;
   color: #ff0303;
}
.carshopping_total{
   text-align: center;
   margin-bottom: 3rem;
}
.carshopping_total h3{
   font-size: 2rem;
   font-weight: 700;
   letter-spacing: 1px;
}
button{
   border: none;

}
.carshopping_total .btn{
   display: inline-block;
   padding: .8rem 1rem;
   font-size: 1.2rem;
   border: none;
   font-weight: 700;
   background-size: 100% 100%;
   background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
   background-image: radial-gradient(18% 28% at 24% 50%, #CEFAFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 18% 71%, #FFFFFF59 6%, #073AFF00 100%),radial-gradient(70% 53% at 36% 76%, #73F2FFFF 0%, #073AFF00 100%),radial-gradient(42% 53% at 15% 94%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(42% 53% at 34% 72%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%),radial-gradient(21% 37% at 72% 23%, #D3FF6D9C 24%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #8A4FFFF5 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #6DFFAEF5 24%, #073AFF00 100%),linear-gradient(125deg, #4EB5FFFF 1%, #4C00FCFF 100%);
   border-radius: 10px;
   cursor: pointer;
   font-family: 'Kavoon';
   letter-spacing: 1px;
   font-weight: 100;
}
.cars-shopping .p-info{
   color: #cfcece;
   padding: 2%;
}

.carshopping_total .btn:hover{
   background: #dde10a;
}
@media (min-width: 800px){
   .car-shopping{
      width: 60%;
   }
   .carshopping_item .remove_item .ico{
      width: 80px;
   }
   
}